<ion-view title="About Us">
   
	<ion-content>
	    <ion-item>
		<div style="line-height: 250px; border: 1px solid rgb(238, 238, 238); border-radius: 3px; text-align: center; background-color: rgb(255, 255, 255);">
            <!-- <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i> -->
            <img class="image" src="http://haqita.farooqezhar.com/img/gobitelogo.jpg"></img>
        </div>
        </ion-item>
        <div class="about" style="color: #53c2d1;">
        	<p>"It's okay to not know where to eat, We provide the solution"</p>
        </div>
        <div class="content">
        	<p>We understand the problem people nowadays facing; they don't know where to eat or sometimes, they crave for certain foods but they don't know where to find those foods. GoBite is a platform for you to search for the nearby restaurant to dine in. We list out all the restaurants nearby you and you make a choice! </p>
        </div>
	</ion-content>
  
</ion-view>