<ion-side-menus enable-menu-with-back-views="true">
    <ion-side-menu-content>
        <ion-nav-bar class="bar-balanced" align-title="center">
            <ion-nav-back-button></ion-nav-back-button>
            <ion-nav-buttons side="left">
                <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
            </ion-nav-buttons>
            
        </ion-nav-bar>
        <ion-nav-view name="side-menu"></ion-nav-view>
    </ion-side-menu-content>
    <ion-side-menu side="left" id="side-menu">
        <ion-header-bar class="bar-balanced">
            <div class="title">Menu</div>
        </ion-header-bar>
        <ion-content padding="false" class="side-menu-left has-header">
            <ul class="list">
            <a ui-sref="menu.home" menu-close="" class="item">Home</a>
            <a ui-sref="menu.about" menu-close="" class="item">About</a>
            <a ui-sref="menu.contact" menu-close="" class="item">FeedBack</a>            
          </ul>
            <!-- <ion-list>
                <ion-item ui-sref="menu.home" menu-close="">Home</ion-item>
                <ion-item ui-sref="menu.about" menu-close="">About</ion-item>
                <ion-item ui-sref="menu.contactUs" menu-close="">Cloud</ion-item>
            </ion-list> -->
        </ion-content>
    </ion-side-menu>
</ion-side-menus>