<ion-view title="Rating form">
	<ion-nav-bar class="bar-balanced" align-title="center">
    <ion-nav-back-button class="button-clear">
      <i class="on-ios-arrow-back"></i>
    </ion-nav-back-button>
  </ion-nav-bar>

  <ion-content>
    <ion-item class="formItem"><rating ng-model="rating.rate" max="rating.max"></rating>
    
    <form class="list" name="ratingForm">
      <label class="item item-input item-floating-label" name="latitude">
          <span class="input-label">Name:</span>
          <input required ng-model="rating.reviewer" type="text" placeholder="Name:">
      </label>
      <label class="item item-input item-floating-label" name="longitude">
          <span class="input-label">Review:</span>
          <input required ng-model="rating.reviewDescription" type="text" placeholder="Your Review:">
      </label>      
    </form>
    <a ng-disabled="ratingForm.$invalid" ng-click="saveReview()" id="getLocation-button2" class="button button-balanced  button-block">Save!</a>
    </ion-item>
  </ion-content>
</ion-view>