<ion-view title="Restaurant">
	<ion-nav-bar class="bar-balanced" align-title="center">
    <ion-nav-back-button class="button-clear">
      <i class="on-ios-arrow-back"></i>
    </ion-nav-back-button>
  </ion-nav-bar>

  <ion-content>
    <ion-item>
      <h2> {{ restaurant.name }} </h2>
    </ion-item>
    
    <div id="map" data-tap-disabled="true"></div>
      <ion-item>
        <p>Address: </p>
        <h3> {{ restaurant.address }}, {{ restaurant.postalCode }} {{ restaurant.city }}, {{ restaurant.state }} </h3>
        <p>Opening Hours: </p>
        <h3> {{ restaurant.openingHours }} </h3>
        <p>Halal Status: </p>
        <h3> {{ restaurant.halalStatus }} </h3>
        <p>Distances: </p>
        <h3> {{ distance.toFixed(3) }} </h3>

      </ion-item>
      <ion-list>
        <ion-item ng-repeat="review in reviews">
            <p>{{review.name}}</p>
            <p>{{review.description}}</p>
        </ion-item>
      </ion-list>
  </ion-content>
</ion-view>