/* Empty. Add your own CSS if you like */
.item-content{
    padding:0px !important;
}
.select-item{
    padding: 0px;
}
.reviewStar li i{
    font-size: 16px !important;
}
.reviewItem{
    border:none;
}
.totalReviewer{
    margin-top: -33px;
    padding-left: 10px;
}
.customRating{
    display: -webkit-inline-box;
    font-size: 64px !important;
}
.averageRating{
    padding-top: 5px;
    padding-left: 5px;
}
.averageRating li i{
    font-size: 36px !important;
    vertical-align: super;
}
.customStar{
    text-align: center;
    padding-bottom: 16px;
}
.customStar li{
    padding-left: 10px;
    padding-bottom: 16px;
}
.customStar li i{
    font-size: 48px !important;
}
.search{
    padding: 16px;
}
.max{
    border-right: 1px solid #ddd !important;
    margin-right: 21px !important;
}
.tab-button{
    color: #53C2D1;
    margin-top: -14px;
}
.price-item, .range-item{
    padding-bottom: 0px;
}

.tab-button i{
    font-size: 32px;
}
.tab-button-checkin i{
    font-size: 28px !important;
}
.tab-button-checkin p{
    margin-top: -19px !important;
}
.tab-button p{
    color: #53C2D1;
    margin-top: -20px;
}

.float-button { 
    background-color: #FFFFFF;
    /* opacity: 0.9; */
    color: white;
    border-radius: 50%;
    /* border-radius: 15% 0 0 0; */
    width: 65px;
    height: 65px;
    /* padding: 25px; */
    font-size: 80px;
    position: fixed;
    bottom: 5%;
    right: 5%;
    z-index: 1000;
}
 
.float-button .height_fix {
    margin-top: 100%;
    border: 1px solid red;
}
 
.float-button .content {
    position: absolute;
    left: -2%;
    top: -5%;
    /* right: -5%; */
    height: 100%;
    width: 100%;
    text-align: center;
    margin-top: -5px;
    color: white;
}

.customIcon{
    font-size: 22px !important;
    position: absolute;
    top: 33.33%;
    padding-left: 5px;
}

.customCard{
    border: none;
    border-bottom:none;
    margin-bottom: 5px !important;
    border: 0px;
}

.list-item{
	padding: none;
}
.senarai{
	border:none;
}
.scroll {
    height: 100%;
}
 
#map {
    width: 100% !important;
    height: 40% !important;
}

#map_canvas {
    position: relative;
}

.angular-google-map-container {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}
.item, .item h1, .item h2, .item h3, .item h4, .item h5, .item h6, .item p, .item-content, .item-content h1, .item-content h2, .item-content h3, .item-content h4, .item-content h5, .item-content h6, .item-content p{
    white-space: inherit !important;
}
.formItem{
    text-align: center;
}
.date{
    display:inline;
    float:right;
}