/* Empty. Add your own CSS if you like */
.item-content{
    padding:0px !important;
}

.customIcon{
    font-size: 22px !important;
    position: absolute;
    top: 33%;
    padding-left:5px;
}

.customCard{
    border: none;
    border-bottom:none;
    margin-bottom: 5px !important;
}

.list-item{
	border-bottom:2px solid #ddd;
}
.senarai{
	border:none;
}
.scroll {
    height: 100%;
}
 
#map {
    width: 100% !important;
    height: 50% !important;
}

#map_canvas {
    position: relative;
}

.angular-google-map-container {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}
.item, .item h1, .item h2, .item h3, .item h4, .item h5, .item h6, .item p, .item-content, .item-content h1, .item-content h2, .item-content h3, .item-content h4, .item-content h5, .item-content h6, .item-content p{
    white-space: inherit !important;
}
.formItem{
    text-align: center;
}
.formItem ul.rating{
    font-size: 36px;
}
.date{
    display:inline;
    float:right;
}